.banner {
	background-image: url('../images/AI_Image.jpg');
	background-size: cover;
	background-position: center;
	height: 700px;

	.banner-inner {
		margin-left: $layout-margin;
		margin-right: $layout-margin;
		position: relative; //ment for dots position
		height: 100%;

		.banner-inner-content {
			border: 0px solid #000;
			display: block;
			position: absolute;
			bottom: 150px;

			.banner-title {
				margin-bottom: 40px;
			}
			@media (max-width: 786px) {
				.banner-title {
					font-size: 20px;
				}
			}
		}


		.banner-inner-dots {
			position: absolute;
			bottom: 5%;
			right: 0px;
			
			.dots-link {
				display: inline-block;

				.banner-inner-dots-active, .banner-inner-dots-passive {
					display: inline-block;
					margin-left: 15px;
					width: $dots-size;
					height: $dots-size;
					-moz-border-radius: 50px;
					-webkit-border-radius: 50px;
					border-radius: 50px;
					border: $dots-border-size solid #eee;
				}

				.banner-inner-dots-passive {
					background: #eee;
				}
				.banner-inner-dots-passive:hover {
					background: $blue-light;
					border: $dots-border-size solid $blue-light;
					transition: background .3s ease;
					transition: border .1 ease;
				}
				@media (max-width: 786px) {
					.banner-inner-dots-passive, .banner-inner-dots-active {
						height: 5px;
						width: 5px;
					}
				}
			}
		}
	}
}
@media (max-width: 1200px) {
	.banner {
		height: 650px;
	}
}
@media (max-width: 786px) {
	.banner {
		height: 550px;
	}
}

@media (max-width: 768px) {
	.button-readmore-white {
		font-size: 10px;
	}
}


.banner-title {
	font-family: 'FuturBol';
	font-size: 30px;
	color:#fff;
}