section.banner {
	background-image: url('../bilder/AI_Image.jpg');
	background-size: auto 100%;
	//background-position: center;
	//background-attachment: fixed;
    //background-repeat: no-repeat;
	height: 700px;

	.banner-inner {
		margin-left: $layout-margin;
		margin-right: $layout-margin;
		position: relative;

		.banner-inner-content {
			border: 0px solid #000;
			display: block;
			position: relative;
			top: 450px;

			h2 {
				margin-bottom: 40px;
			}

			a {
				background: #eee;
				padding: 10px;
			}

		}


		.banner-inner-dots {
			float: right;
			position: relative;
			top: 530px;
			
			.banner-inner-dots-active {
				display: inline-block;
				margin-left: 15px;
				width: $dots-size;
				height: $dots-size;
				-moz-border-radius: 50px;
				-webkit-border-radius: 50px;
				border-radius: 50px;
				border: $dots-border-size solid #eee;
			}

			.banner-inner-dots-passive {
				display: inline-block;
				margin-left: 15px;
				width: $dots-size;
				height: $dots-size;
				background: #eee;
				-moz-border-radius: 50px;
				-webkit-border-radius: 50px;
				border-radius: 50px;
				border: $dots-border-size solid #eee;
			}
		}
	}
}








/* ------- Media Queries ----------*/
@media screen and (max-width: 1200px) and (min-width: 769px) {
	section.banner {
		height: 650px;
		background-position: center;
	}
	#media-banner-content {
		position: relative;
		top: 430px;
	}
	#banner-dots {
		position: relative;
		top: 490px;

		div {
			height: 10px;
			width: 10px;
		}
	}

}
@media screen and (max-width: 768px) {
	#banner-title {
		font-size: 20px;
	}

	section.banner {
		height: 550px;
		background-position: center;
	}

	#media-banner-content {
		position: relative;
		top: 250px;
	}
	#banner-dots {
		position: relative;
		top: 420px;

		div {
			height: 5px;
			width: 5px;
		}
	}
	#button-readmore {
		font-size: 10px;
	}

}