.events {
	height: 530px;
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/9vwFt1.jpg');
	background-size: cover;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

	.events-inner {
		padding: $layout-margin;

		.events-subtitle {
			margin-bottom: 0px;
		}
		.events-title {
			margin-bottom: 30px;
		}
		.events-context {
			width: 500px;
			margin-bottom: 50px;
		}
		@media (max-width: 786px) {
			.events-context {
			width: 280px;
			}
		}
	}

}

.events-title {
	font-family: 'FuturBol';
	font-size: 33px;
	color: #fff;
}
.events-subtitle {
	font-family: 'FuturBol';
	font-size: 20px;
	color: #fff;
}
.events-context {
	font-family: 'FuturBoo';
	font-size: 20px;
	color: #ccc;
}

