footer {
	background-color: #10497D;
	.footer-inner {
		padding: $layout-margin;
		
		.footer-devider {
			border-bottom: 1px solid #fff;
			margin-bottom: $layout-margin;
			margin-top: $layout-margin; 
			display: block;
		}

		.footer-ambassador {
			border: 0px solid #fff;
			font-size: 0px;
			display: block;
			padding-bottom: 3%;
			
			.footer-ambassador-single + .footer-ambassador-single {
				margin-left: 6.66%;
			}
			@media (max-width: 786px) {
				.footer-ambassador-single + .footer-ambassador-single {
					margin-left: 4%;
				}
			}
			.footer-ambassador-single {
				display: inline-block;
				text-align: center;
				//float: left;
				margin-top: 18px;
				width: 20%;
				border: 0px solid #f00;

				.ambassador-portrait {
					width: 100%;
				}
				.ambassador-name {
					margin-top: 18px;
				}
			}
			@media (max-width: 786px) {
				.footer-ambassador-single {
					width: 40%;
					margin-left: 0%;
					margin: 4%;
				}
			}
		}
		@media (max-width: 786px) {
			.footer-ambassador {
				text-align: center;
			}
		}

		.footer-sitemap {
			font-size: 0px;
			padding-top: 3%;
			padding-bottom: 3%;
			
			.footer-sitemap-single + .footer-sitemap-single {
				margin-left: 6.66%;
			}
			@media (max-width: 786px) {
				.footer-sitemap-single + .footer-sitemap-single {
					margin-left: 0%;
				}
			}
			.footer-sitemap-single {
				display: inline-block;
				width: 20%;
				vertical-align: top;
				border: 0px solid #fff;

				.footer-sitemap-ul {
					padding-left: 0px;

					.footer-sitemap-li {
						list-style: none;
						padding-bottom: 1%;
						margin: 0;

						.sitemap-link, .sitemap-sublink {
							text-decoration: none;
						}
					}
				}
			}
			@media (max-width: 786px) {
				.footer-sitemap-single {
					width: 100%;
					padding-bottom: 0%;
				}
			}
		}
		.footer-info {
			border: 0px solid #f00;
			font-size: 0px;
			
			.footer-info-single + .footer-info-single {
				//margin-left: 6.66%;
			}
			.footer-info-single {
				display: inline-block;
				width: 26.66%;
				vertical-align: top;
				border: 0px solid #fff;
			}
			@media (max-width: 786px) {
				.footer-info-single {
					width: 100%;
				}
			}
			

			.footer-info-link {
				text-decoration: none;
				display: block;
				padding-bottom: 15px;
			}
			.social-img {
				height: 30px;
				margin-right: 15px;
				vertical-align: middle;
			}

			.footer-info-title {
				margin-bottom: 30px;
			}
		}
	}
}




.ambassador-title {
	font-family: 'FuturBol';
	font-size: 5vw;
	letter-spacing: 3px;
	color: #fff;
}


.ambassador-name {
	font-family: 'FuturBol';
	font-size: 1vw;
	color: #fff;
}
@media (max-width: 786px) {
	.ambassador-name {
		font-size: 2.3vw;
	}
}


p, a , h3 {
	text-transform: uppercase;
}
.sitemap-link {
	font-family: 'FuturBol';
	font-size: 20px;
	color: #fff;
}
.sitemap-sublink {
	font-family: 'FuturBoo';
	font-size: 20px;
	color: #ddd;
}
@media (max-width: 786px) {
	.sitemap-link, .sitemap-sublink {
		font-size: 15px;
	}
}


.footer-info-title {
	font-family: 'FuturBol';
	letter-spacing: 3px;
	font-size: 20px;
	color: #fff;
}
.footer-info-text {
	font-family: 'FuturBoo';
	font-size: 14px;
	letter-spacing: 3px;
	color: #fff;
}
.footer-info-link {
	font-family: 'FuturLig';
	font-size: 15px;
	letter-spacing: 3px;
	color: #fff;
}




