header {
	background: #fff;
	//position: relative;
	height: 130px;

	.header-inner {
		padding-top: 30px; 
		margin-left: $layout-margin;
		margin-right: $layout-margin;
		//position: relative;

		.logo {
			display: inline-block;

			.logo-icon {
				height: 55px;
				display: inline-block;
			}
			@media (max-width: 786px) {
				.logo-icon {
					height: 25px;
				}
			}
		}
		.navigation {
			display: inline-block;
			float: right;
			position: relative;
			top: 21px;

			.nav-link {
				.nav-icons {
					height: 25px;
					margin-left: 15px;
				}
				@media (max-width: 786px) {
					.nav-icons {
						height: 15px;
						position: relative;
						top: -13px;
					}
				}
			}
		}
	}
	@media (max-width: 786px) {
		.header-inner {
			padding-top: 15px;
		}
	}
}

@media screen and (max-width: 768px) {
	header {
		height: 60px;
	}
}