header {
	background: #fff;
	position: relative;
	height: 130px;

	.header-inner {
		padding-top: 30px; 
		//margin-bottom: 30px;
		margin-left: $layout-margin;
		margin-right: $layout-margin;

		position: relative;
		//border: 1px solid #000;

		a {

			img {
				height: 55px;
				display: inline-block;
			}
		}
		nav {
			display: inline-block;
			float: right;
			position: relative;
			top: 21px;
			
			
			img {
				height: 25px;
				margin-left: 15px;
			}
		}
	}
}








/* -------- Medie Queries -------- */
@media screen and (max-width: 1200px) and (min-width: 769px) {
	header {
		height: 105px;

		.header-inner {
			padding-top: 25px;
		}
	}

	#logo-icon {
		height: 45px;
	}
	#nav-icons {
		height: 25px;
		position: relative;
		top: -7px;
	}
}




@media screen and (max-width: 768px) {
	header {
		height: 60px;

		.header-inner {
			padding-top: 15px;
		}
	}

	#logo-icon {
		height: 25px;
	}
	#nav-icons {
		height: 15px;
		position: relative;
		top: -13px;
	}
}