.menu-icons {
	background: #024;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;

	.menu-icons-inner {

		a > .menu-icons-inner-single {
			display: inline-block;
			width: 160px;
			height: 170px;
			margin-left: 50px;
			margin-right: 50px;
			text-align: center;
			border: 0px solid #000;

			h3 {
				padding-bottom: 10px;
			}
		}
		a > div {
			overflow: hidden;

			img {
				height: 100px;
			}
		}
		a:last-child > div{
			overflow: hidden;
			margin-left: 50px;
			margin-right: 50px;

			img {
				position: relative;
				right:36px;
				height: 100px;
			}

		}

	}
}