.menu-icons {
	background: #07253f;
	text-align: center;
	padding-top: 2%;
	padding-bottom: 2%;

	.menu-icons-inner {
		font-size: 0px;

		.menu-link + .menu-link {
				//margin-left: 5%;
		}
		.menu-link {
			display: inline-block;
			width: 18%;
			border: 0px solid #f00;
			text-decoration: none;
			

			.menu-icons-svg {
				width: 50%;
			}
		}
	}
}
.menu-icons-title {
	font-family: 'FuturBol';
	color: #fff;
	font-size: 24px;
	margin: 5px;

}





/* --------- Media Queries ------------ */

@media screen and (max-width: 1200px) and (min-width: 769px) {
	section.menu-icons {
		.menu-icons-title {
			font-size: 18px;
			padding-bottom: 10px;
		}
		.menu-icons-inner-single {
			width: 120px;
		}

	}
}

@media screen and (max-width: 768px) and (min-width: 471px) {
	.menu-icons-title {
		font-size: 14px;

	}
}
@media screen and (max-width: 470px) {
	.menu-icons {
		padding-top: 5px;
	}
	.menu-icons-title {
		font-size: 10px;
	}
	
}
