.news-item-inner {
	height: 525px;
	border: 0px solid #024;

	background-color: #10497D;
	padding-left: $layout-margin;

}

.news-item-content {
	display: inline-block;
	width: 35%;
	padding-top: 40px;
	border: 0px solid #eee;

	div, a{
		//margin-left: $layout-margin;
	}
	div > h2:first-child {
		padding-top: 40px;
		padding-bottom: 0px;

	}
	div > h2:last-child {
		padding-top: 0px;
		padding-bottom: 40px;

	}


	.news-item-content-icons {
		display: block;
	
		img {
			height: 70px;
			//float: left;
			margin-right: 15px;
			border: 3px solid #fff;
			-moz-border-radius: 50px;
			-webkit-border-radius: 50px;
			border-radius: 50px;
		}
	} 

	.news-item-checklist {
		margin-bottom: 60px;
		border: 0px solid #fff;
		height: 30px;

		p {
			display: inline-block;
			margin-right: 10px;
			padding: 0px;
			vertical-align: bottom;
		}
		p > img {
			height: 15px;
			margin-right: 6px;
			vertical-align: middle;
			filter: invert(100%);
			padding: 0px;
			border: 0px solid #f00;	
		}
	}
}
.news-image {
	display: inline-block;
	width: 65%;
	height: 100%;
	float: right;
	overflow: hidden;
	border: 0px solid #f00;
	background-image: url('../bilder/AZA1bD.jpg');

	img {
		width: 1550px;
		float: right;
		position: relative;
		top: 145px;
		padding-right: 140px;
	}
}

#news-item-title {
	font-family: 'FuturBol';
	color: #fff;
	font-size: 28px;
}
#news-item-subtitle {
	font-family: 'FuturBol';
	color: #bce;
	font-size: 28px;
}
#news-item-checklist-item {
	font-family: 'FuturBol';
	color: #fff;
	font-size: 20px;
}

@media screen and (max-width: 1200px) and (min-width: 769px) {
	section.news-item {
		div {
			height: 400px;

			.news-item-content {
				padding-top: 25px;

				div > h2 {
					padding-top: 2px;
				}
				.news-item-content-text {
					position: relative;
					top: -300px;
				}
				.news-item-checklist {
					position: relative;
					top: -580px;
				}
				.button-readmore {
					position: relative;
					top: -580px;
					left: 0px;
				}
			}
		}
	}
	#news-icon-svg {
		height: 50px;
		border: 1px solid #fff;
		margin-right: 10px;
	}

	#news-item-title {
		font-family: 'FuturBol';
		color: #fff;
		font-size: 20px;
	}
	#news-item-subtitle {
		font-family: 'FuturBol';
		color: #bce;
		font-size: 20px;
	}
	#news-item-checklist-item {
		font-family: 'FuturBol';
		color: #fff;
		font-size: 14px;

		img {
			height: 16px;
		}
	}
	#news-image-media {
		width: 1000px;
		position: relative;
		top: 100px;
		padding-right: 100px;
	}
}

@media screen and (max-width: 768px) {
	//News-item
	section.news-item {
		div {
			height: 400px;

			.news-item-content {
				padding-top: 10px;
				width: 60%;

				div > h2 {
					padding-top: 2px;
				}
				.news-item-content-text {
					position: relative;
					top: -300px;
				}
				.news-item-checklist {
					position: relative;
					top: -570px;
				}
				.button-readmore {
					position: relative;
					top: -580px;
					//left: 230px;
				}
			}
		}
		.news-image {
			width: 40%;
			background-size: auto 100%;
		}
	}
	#news-icon-svg {
		height: 50px;
		border: 1px solid #fff;
		margin-right: 1px;
	}

	#news-item-title {
		font-family: 'FuturBol';
		color: #fff;
		font-size: 18px;
	}
	#news-item-subtitle {
		font-family: 'FuturBol';
		color: #bce;
		font-size: 18px;
	}
	#news-item-checklist-item {
		font-family: 'FuturBol';
		color: #fff;
		font-size: 13px;

		img {
			height: 8px;
		}
	}
	#news-image-media {
		width: 800px;
		position: relative;
		top: 400px;
		left: 330px;
		transform: rotate(-90deg);
		padding-right: $layout-margin;
	}
	#button-news {
		font-size: 10px;
	}

}
