.news-item {
	background-image: url('../images/AZA1bD.jpg');
}
.news-item-inner {
	height: 100%;
	font-size: 0px; /* fix inline blocks */
	position: relative;
}
.news-item-content {
	display: inline-block;
	width: 35%;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-right: 1%;
	padding-left: $layout-margin;
	background-color: $blue-light;

	.news-item-content-text {
		padding-top: 5%;
		padding-bottom: 5%;

	}
	@media (max-width: 768px) {
		.news-item-content-text {	
			padding-top: 0px;
			padding-bottom: 0px;
		}
	}

	.news-item-content-icons {
		display: block;
	
		.news-icon-svg {
			height: 70px;
			margin-right: 5%;
			border: 3px solid #fff;
			-moz-border-radius: 50px;
			-webkit-border-radius: 50px;
			border-radius: 50px;
		}
		@media (max-width: 1200px) {
			.news-icon-svg {
				height: 50px;
				border: 2px solid #fff;
			}
		}
		@media (max-width: 786px) {
			.news-icon-svg {
				height: 40px;
			}
		}
	} 

	.news-item-checklist {
		padding-bottom: 3%;
		.news-item-checklist-item {
			display: inline-block;
			margin: 0px;
			margin-right: 10px;
			padding: 0px;
			vertical-align: bottom;
		}
		.news-check-img {
			height: 15px;
			margin-right: 6px;
			vertical-align: middle;
			filter: invert(100%);
			padding: 0px;
			border: 0px solid #f00;	
		}
		@media (max-width: 768px) {
			.news-check-img {
				height: 8px;
			}
		}
	}
	@media (max-width: 786px) {
		.button-readmore-white {
			font-size: 8px;
			padding: 5px;
			margin-top: 5%;
		} 
	}
}
@media (max-width: 768px) {
	.news-item-content {	
		width: 50%;
	}
}
.news-image-box {
	display: inline-block;
	width: 65%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;

	.news-image {
		height: 26%;
		position: absolute;
		top: 30%;
		right: 10%;
	}
	@media (max-width: 786px) {
		.news-image {
		height: 20%;
		}
	}
}
@media (max-width: 768px) {
	.news-image-box {
		width: 50%;
	}
}

.news-item-title {
	font-family: 'FuturBol';
	color: #fff;
	font-size: 2vw;
}
.news-item-subtitle {
	font-family: 'FuturBol';
	color: #bce;
	font-size: 2vw;
}
.news-item-checklist-item {
	font-family: 'FuturBol';
	color: #fff;
	font-size: 1.3vw;
}

@media (max-width: 768px) {
	.button-news {
		font-size: 6px;
	}
}
