.products {
	padding: $layout-margin;

	.products-inner {
		border: 0px solid #f00;
		font-size: 0px;

		.products-title {
			text-align: left;
			margin-bottom: 30px;
		}
		
		.products-inner-single + .products-inner-single {
			margin-left: 6%; 
		}
		.products-inner-single {
			width: 20%;
			display: inline-block;
			position: relative; /*for placing child: products-newsicons*/
			border: 2px solid #10497D;
			text-align: center;

			.products-newsicon {
				display: block;
				position: absolute;
				top: 0px;
				text-align: right;
				width: 100%;

				.products-icon {
					display: inline-block;
					width: 25%;
					margin: 10px;
				}
			}

			.products-imagebox {
				width: 100%;
				overflow: hidden;
				display: block;
				border: 0px solid #0f0;

				.products-inner-image {
					z-index: -1;
					width: 30vw;
					float: right;
					border: 0px solid #f00;
				}
			}
			
			.products-inner-title {
				background-color: #10497D;
				padding: 15px;
				margin: 0px;

			}
		}
	}
}

.products-title {
	font-family: 'FuturBol';
	letter-spacing: 5px;
	font-size: 32px;
	color: $blue-light;
	line-height: 24px;
}
.products-inner-title {
	font-family: 'FuturBol';
	font-size: 1vw;
	color: #fff;
}




@media screen and (max-width: 1200px) and (min-width: 769px) {
	.products-inner-title {
		font-size: 1vw;
		//top: -30px;
	}
}

@media screen and (max-width: 1030px) and (min-width: 769px) {
	.products-inner-single {
		margin-bottom: 20px;
		//margin-right: 0%;
		//width: 35%;
		
		.products-inner-title {
			font-size: 1vw;
			//top: -30px;
		}

		.products-imagebox {
			

			.products-inner-image {
			//width: 52%;
			}
		}
	}
}



@media screen and (max-width: 768px) {
	.products-inner {
		//text-align: center;

		.products-inner-single {
			margin-bottom: 20px;
			margin-right: 0%;
			width: 65%;
			
			.products-inner-title {
				font-size: 4vw;
				//top: -30px;
			}

			.products-imagebox {

				.products-inner-image {
				width: 92vw;
				margin-right: 4%;
				}
			}
		}
	}
}
