.products {
	padding-left: $layout-margin;
	padding-right: $layout-margin;
	padding-top: $layout-margin;
	padding-bottom: $layout-margin;

	div {
		border: 0px solid #f00;

		h1 {
			text-align: left;
			margin-bottom: 30px;
		}
		
		.product-inner-single:last-child {
			margin-right: 0px; 
		}
		.product-inner-single {
			width: 20vw;
			height: 20vw;
			display: inline-block;
			position: relative;
			border: 2px solid #10497D;
			margin-right: 2%; 
			margin-bottom: 1%; 
			overflow: hidden;
			text-align: center;

			#product-newsicon {
				display: block;
				position: absolute;
				top: 0px;
				text-align: right;
				width: 100%;
				border: 0px solid #f00;
				//height: 70%;

				img {
					display: inline-block;
					height: 50px;
					margin: 10px;
				}
			}

			#product-imagebox {

				height: 80%;
				width: 100%;
				overflow: hidden;
				display: block;
				border: 0px solid #0f0;
				//position: absolute;

				img {
					z-index: -1;
					width: 30vw;
					float: right;
					//position: relative;
					//top: -80px;
					//left: -220px;
					border: 0px solid #f00;
				}
			}
			
			p {
				
				//position: relative;
				//top: 25px;
				background-color: #10497D;
				padding: 15px;
				border: 0px solid #00f;

			}
		}
	}
}






@media screen and (max-width: 1200px) and (min-width: 769px) {
	section.products {

		.products-inner {
			
			.product-inner-single {

				#product-inner-title {
					font-size: 16px;
					//top: -30px;
				}
			}
			.product-inner-single:last-child {
				//margin-bottom: 20px;
				//margin-right: 0px;
			}
		}
	}
}

@media screen and (max-width: 1030px) and (min-width: 769px) {
	.products {
		div {
			text-align: center;

			.product-inner-single {
				margin-bottom: 20px;
				margin-right: 0%;
				width: 35vw;
				height: 35vw;
				
				#product-inner-title {
					font-size: 28px;
					//top: -30px;
				}

				#product-imagebox {
					height: 86%;

					img {
					width: 52vw;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.products {
		div {
			text-align: center;

			.product-inner-single {
				margin-bottom: 20px;
				margin-right: 0%;
				width: 65vw;
				height: 65vw;
				
				#product-inner-title {
					font-size: 4vw;
					//top: -30px;
				}

				#product-imagebox {
					height: 86%;

					img {
					width: 92vw;
					margin-right: 4vw;
					}
				}
			}
		}
	}





/*

	section.products {
		//height: 1200px;

		.products-inner {
			text-align: center;
			
			.product-inner-single {
				margin-bottom: 20px;
				margin-right: 1%;
				width: 210px;
				height: 205px;

				#product-inner-title {
					font-size: 16px;
					top: -30px;
				}
				#product-imagebox {
					img {
						width: 300px;
						top: -10px;
						left: -100px;
					}
				}
			}
			.product-inner-single:last-child {
				margin-bottom: 20px;
				margin-right: 0px;
			}
		}
	}
*/
}
