$font-futur: 'Futur', 'FuturBol', 'FuturBolObl', 'FuturBoo', 'FuturBooBol', 
'FuturExtBol', 'FuturExtBolObl', 'FuturHea', 'FuturHeaObl', 'FuturLig', 
'FuturLigObl', 'FuturObl';

@each $font in $font-futur {
	@font-face {
		font-family: $font;
		src: url('../font/#{$font}.woff');
	}
}


.button-readmore, .button-readmore-white, .button-readmore-black {
	font-family: 'FuturBol';
	text-decoration: none;
	font-size: 14px;
	letter-spacing: 2px;
	padding: 11px;
	display: inline-block;
}
.button-readmore-white {
	color: $blue-light;
	background: #fff;
}
.button-readmore-black {
	color: #000;
	background: #fff;
}











