//Font Imports
@font-face {
    font-family: 'Futur';
    src: url('../font/Futur.woff');
}
@font-face {
    font-family: 'FuturBol';
    src: url('../font/FuturBol.woff');
}
@font-face {
    font-family: 'FuturBolObl';
    src: url('../font/FuturBolObl.woff');
}
@font-face {
    font-family: 'FuturBoo';
    src: url('../font/FuturBoo.woff');
}
@font-face {
    font-family: 'FuturBooObl';
    src: url('../font/FuturBooObl.woff');
}
@font-face {
    font-family: 'FuturExtBol';
    src: url('../font/FuturExtBol.woff');
}
@font-face {
    font-family: 'FuturExtBolObl';
    src: url('../font/FuturExtBolObl.woff');
}
@font-face {
    font-family: 'FuturHea';
    src: url('../font/FuturHea.woff');
}
@font-face {
    font-family: 'FuturHeaObl';
    src: url('../font/FuturHeaObl.woff');
}
@font-face {
    font-family: 'FuturLig';
    src: url('../font/FuturLig.woff');
}
@font-face {
    font-family: 'FuturLigObl';
    src: url('../font/FuturLigObl.woff');
}
@font-face {
    font-family: 'FuturObl';
    src: url('../font/FuturObl.woff');
}
// End of Font Imports


#button-readmore {
	font-family: 'FuturBol';
	text-decoration: none;
	color: $blue-light;
	font-size: 14px;
	letter-spacing: 2px;
	background: #fff;
	padding: 11px;
	//border: 1px solid #024;
}
#button-readmore-black {
	font-family: 'FuturBol';
	text-decoration: none;
	color: #000;
	font-size: 15px;
	letter-spacing: 2px;
	background: #fff;
	padding: 11px;
	//border: 1px solid #024;
}

//banner
#banner-title {
	font-family: 'FuturBol';
	font-size: 30px;
	color:#fff;
}


//Menu-Icons
#menu-icons-title {
	font-family: 'FuturBol';
	color: #fff;
	font-size: 24px;
	margin: 5px;
}


//Nyhet
#news-item-title {
	font-family: 'FuturBol';
	color: #fff;
	font-size: 30px;
}
#news-item-subtitle {
	font-family: 'FuturBol';
	color: #bce;
	font-size: 30px;
}
#news-item-checklist-item {
	font-family: 'FuturBol';
	color: #fff;
	font-size: 20px;
}

//Products
#products-title {
	font-family: 'FuturBol';
	letter-spacing: 5px;
	font-size: 32px;
	color: $blue-light;
	line-height: 24px;
}
#product-inner-title {
	font-family: 'FuturBol';
	font-size: 20px;
	color: #fff;
}

//events
#events-title {
	font-family: 'FuturBol';
	font-size: 33px;
	color: #fff;
}
#events-subtitle {
	font-family: 'FuturBol';
	font-size: 20px;
	color: #fff;
}
#events-context {
	font-family: 'FuturBoo';
	font-size: 20px;
	color: #ccc;
}


//footer
.footer-ambassador {

	h1 {
		font-family: 'FuturBol';
		font-size: 33px;
		letter-spacing: 3px;
		color: #fff;
	}
	p {
		font-family: 'FuturBol';
		font-size: 20px;
		color: #fff;
	}
}

.footer-sitemap {

	#sitemap-link {
		font-family: 'FuturBol';
		font-size: 20px;
		color: #fff;
	}
	#sitemap-sublink {
		font-family: 'FuturBoo';
		font-size: 20px;
		color: #ddd;
	}
}
.footer-info {

	h3 {
		font-family: 'FuturBol';
		letter-spacing: 3px;
		font-size: 20px;
		color: #fff;
	}
	p {
		font-family: 'FuturBoo';
		font-size: 14px;
		letter-spacing: 3px;
		color: #fff;
	}
	a {
		font-family: 'FuturLig';
		font-size: 15px;
		letter-spacing: 3px;
		color: #fff;
	}
}



